*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
    height:100vh;
}

.ceu{
    width:100%;
    height:100vh;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        to bottom,
        #7fd3ff 0%,
        #bcecff 55%,
        #fff1a8 100%
    );
}

/* Sol */

.sol{

    position:absolute;

    width:170px;
    height:170px;

    border-radius:50%;

    background:#FFD84D;

    top:50px;
    right:90px;

    box-shadow:
    0 0 40px #FFD84D,
    0 0 80px #FFD84D,
    0 0 150px #FFD84D;

    animation:sol 3s infinite alternate;

}

@keyframes sol{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.08);
    }

}

/* Nuvens */

.nuvem{

    position:absolute;

    background:white;

    border-radius:50px;

    opacity:.9;

}

.nuvem::before,
.nuvem::after{

    content:"";

    position:absolute;

    background:white;

    border-radius:50%;

}

.n1{

    width:140px;
    height:45px;

    left:-180px;
    top:90px;

    animation:nuvem1 40s linear infinite;

}

.n1::before{

    width:55px;
    height:55px;

    left:18px;
    top:-25px;

}

.n1::after{

    width:70px;
    height:70px;

    right:18px;
    top:-35px;

}

@keyframes nuvem1{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(calc(100vw + 300px));

    }

}

/* Grama */

.grama{

    position:absolute;

    bottom:0;

    width:100%;

    height:170px;

    background:#57b847;

}
#garden{
    height:320px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top:40px;
}

#sunflower{
    font-size:170px;
    cursor:pointer;
    user-select:none;
    transition:transform .3s;
    animation:balanco 3s ease-in-out infinite;
}

#sunflower:hover{
    transform:scale(1.08);
}

@keyframes balanco{

    0%{
        transform:rotate(-3deg);
    }

    50%{
        transform:rotate(3deg);
    }

    100%{
        transform:rotate(-3deg);
    }

}

.clique{
    margin-top:25px;
    font-size:20px;
    animation:pulsar 1.5s infinite;
}